@import '../../variables';

#index-container {
  @include smooth-transitions(0.5s);
  height: 100%;

  #index-page-header {
    @include smooth-transitions(0.5s);
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $primary-grey-color;

    .banner {
      @include smooth-transitions(0.5s);
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 1%;
      height: 75px;

      .banner-img-container {
        height: 75%;
        text-align: center;
        padding-bottom: 5px;
        border-bottom: 5px solid $primary-color;
        cursor: pointer;
      }

      .banner-title-container {
        margin-top: 10px;
        padding-top: 15px;
        padding-top: 10px;
        text-decoration: underline;
        font-weight: bold;
        border-right: 1px solid $primary-grey-color;
        text-align: center;
        cursor: default;
      }

      .banner-img {
        height: 50px;
      }
    }

    .cover-banner {
      @include smooth-transitions(0.5s);
      background-image: url("/assets/images/Cover-Image.jpg");
      background-size: 100% 100%;
    }

    .cover-banner.hide-cover {
      height: 0px;
    }

    .cover-banner.show-cover {
      height: 175px;
    }

    #navbar-img {
      height: 100%;
    }
  }

  .header-expanded {
    padding-left: 30%;
  }

  .header-collapsed {
    padding-left: 7%;
  }

  .show-cover {
    height: 250px;
  }

  .hide-cover {
    height: 75px;
  }

  #game-window {
    height: 50vh;
    background-color: $secondary-bright-color;
  }

  .detail-card {
    margin-top: 1%;
    border: 1px solid $primary-bright-color;

    .detail-content {
      color: $secondary-color;
    }

    .game-image-container {
      padding: 5px;
      .game-image {
        max-width: 90%;
      }
    }

    .game-info-container {
      padding: 10px 5px;

    }
  }
}

#index-container.show-cover {
  padding-top: 265px;
}

#index-container.hide-cover {
  padding-top: 85px;
}



