/* Contains the styling for the overall application container and application-wide
 * elements
 */
@import 'variables';

html, body, .ember-application > .ember-view, #app-container, #app-inner-container {
  height: 100%;
  width: 100%;
}

html {
  #app-container {
    padding: 0 0 0 0;

    #app-inner-container {
      margin: 0 0 0 0;

      #app-body {
        @include smooth-transitions(0.5s);
        height: 100%;
        background: #ccbbee;
        overflow: auto;
      }

      .menu-collapsed {
        padding-left: 7%;
      }

      .menu-expanded {
        padding-left: 25%;
      }
    }
  }
}