// Dark black/blue
$primary-color: #151a28;
// Light blue
$secondary-color: #81d2ff;
// Lighter kinda green-blue
$secondary-color-hover: #a8f2ff;
// Faded light grey/blue
$primary-bright-color: #c2cdea;
// Faded light blue
$secondary-bright-color: #c2e7fc;
// Quite grey
$primary-grey-color: #cccdce;

@mixin smooth-transitions($time, $type:all) {
  -webkit-transition: $type $time ease;
     -moz-transition: $type $time ease;
       -o-transition: $type $time ease;
          transition: $type $time ease;
}

@mixin slight-padding($amount) {
  padding-left: $amount;
  padding-top: $amount;
}