// styles/body/interests/_route.scss
// This file contains the styles related specifically to the interests route

#interests-container {
  padding-top: 15px;

  .card-set-title {
    // TODO: Do something with h2
  }

  .info-card {
    @include smooth-transitions(1s, all);
    // border: 1px solid black;
    height: 300px;
    padding: 12px 24px;

    &--expanded {
      width: 100%;
      height: 375px;
    }

    &__card {
      @include smooth-transitions(1s, all);
      height: 100%;
      width: 100%;
      border: 1px solid black;
      position: relative;
      background-color: $primary-color;

      &--unexpanded {
        &:hover {
          box-shadow: 5px 5px 2px $primary-grey-color;
        }

        .info-card__card {
          &__picture {
            height: 130px;

            &--expanded {
              width: 100%;
            }
          }

          &__details {
            width: 100%;
            height: 90px;
          }
        }
      }

      &--expanded {

        .info-card__card {
          &__header {
            border-bottom: 1px solid $secondary-color;

            h3 {
              float: right;
            }
          }

          &__picture {
            float: left;
            height: 293px;

            &--expanded {
              width: 30%;
            }
          }

          &__details {
            float: left;
            width: 70%;
            
            &--expanded {
              height: 293px;
            }

            &--flow {
              overflow: auto;
            }

            &--no-flow {
              overflow: hidden;
            }
          }
        }
      }

      &__header { 
        width: 100%;
        height: 56px;
        padding: 3px 12px;

        h3 {
          @include smooth-transitions(1s, float);
          color: $primary-bright-color;
          float: left;
          margin-bottom: 0;
          font-size: 1.5vw;
        }
      }

      &__picture {
        @include smooth-transitions(1s);
        &--hidden {
          display: none;
        }

        &--shown {
          width: 0;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      &__details {
        @include smooth-transitions(1s);
        color: $secondary-color;
        padding: 6px 12px;

        &--shown {
          height: 0;
        }

        &--hidden {
          display: none;
        }
      }

      &__toggle {
        position: absolute;
        bottom: 8px;
        right: 16px;
        cursor: pointer;

        &:hover {
          color: $secondary-bright-color;
        }
      }
    }
  }
}