<div id="footer-title-container" class="row">
  Footer Title
</div>
<div id="footer-chat-container" class="row">
  {{#each messages as |message|}}
    <p class="chat-color-1"><strong class={{message.color}}>{{message.user}}:</strong> {{message.message}}</p>
  {{/each}}
</div>
<div id="footer-input-container" class="row">
  Input Stuff
</div>
<div id="footer-bottom-container" class="row">
  Footer Stuff
</div>
