{{application/header-container
  id="header-container"
  toggleSidebar=(action "toggleSidebar")
}}
<div id="app-body" class={{bodyClass}}>
  {{yield}}
</div>
{{application/footer-container
  id="footer-container"
  class=footerClass
}}