{{index/page-header
  id="index-page-header"
  class=pageHeaderClass
}}
<h2>Header of stuff</h2>
<p>Stuff stuff stuff stuff stuff stuff</p>
<p>Stuff stuff stuff stuff stuff stuff</p>
<p>Stuff stuff stuff stuff stuff stuff</p>
<p>Stuff stuff stuff stuff stuff stuff</p>
<p>Stuff stuff stuff stuff stuff stuff</p>
<p>Stuff stuff stuff stuff stuff stuff</p>