{{index/page-header
  id="index-page-header"
  class=pageHeaderClass
  onChangeCover=(action "onChangeCover")
}}
<div id="game-window" class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
  Game window here
  <canvas id="syruptale"></canvas>
</div>
<div class="col-xs-12 col-sm-12 col-md-12">
  <div class="row">

  </div>
</div>