{{index/page-header
  id="index-page-header"
  class=pageHeaderClass
  onChangeCover=(action "onChangeCover")
}}
<div id="game-window" class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
  <canvas id="syruptale"></canvas>
</div>
<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 detail-card">
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-2 game-image-container">
      <img class="game-image" src="assets/images/Syrup.png" />
    </div>
    <div class="col-xs-9 col-sm-9 col-md-10 game-info-container">
      <div class="row">
        Portfolio Site
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <i class="fa fa-gamepad fa-2x" aria-hidden="true"></i>
          <span class="detail-content">Syrup Tale</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 detail-card">
  <h3>Summary About Me</h3>
  <div class="row border-separator"></div>
    {{index/partials/summary-content}}
</div>
<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 detail-card">
  <h3>Skills</h3>
  <div class="row border-separator"></div>
  {{index/partials/skills-content class="row"}}
</div>