<div id="app-container" class="container-fluid">
  {{#application/main-container
    id="app-inner-container"
    class="row"
    goToRoute=(route-action "goToRoute")
  }}
    {{outlet}}
  {{/application/main-container}}
</div>


